html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
}

.header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #080957;
    box-shadow: 0px 5px 5px #7577cd;
}

.logo-area {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex: 1;
}

.logo {
    display: flex;
    box-sizing: border-box;
    text-decoration: none;
    margin-left: 3%;
    width: 225px;
    height: auto;
}

.logo>img {
    display: flex;
    width: 100%;
    height: auto;
}

.nav {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex: 1;
}

.blank {
    display: flex;
    box-sizing: border-box;
    flex: 1;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    flex: 1.5;
}

.nav-list>* {
    font-family: Century Gothic;
    font-weight: bold;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
    padding: 3%;
    color: white;
}

.nav-list>*:hover {
    background-color: #7577cd;
    transition-duration: 0.3s;
}

.profil {
    display: flex;
    box-sizing: border-box;
    text-decoration: none;
}

.project-page {
    display: flex;
    box-sizing: border-box;
    text-decoration: none;
}

.contact {
    display: flex;
    box-sizing: border-box;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    box-sizing: border-box;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 50px;
}

.presentation {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.presentation-info {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 1;
    justify-content: center;
}

.presentation-info>p {
    font-family: Roboto, sans-serif;
    font-size: 28px;
    font-weight: lighter;
    display: flex;
    align-self: center;
    text-align: center;
    padding: 0 2%;
}

.presentation-picture {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 1;
    justify-content: center;
}

.presentation-picture>img {
    display: flex;
    padding: 1%;
    box-sizing: border-box;
}

.projects-area {
    display: flex;
    flex-direction: column;
    background-color: #080957;
    padding-bottom: 1%;
    margin-bottom: 20px;
}

.projects-title {
    text-align: center;
    box-sizing: border-box;
    width: fit-content;
    align-self: center;
    padding: 0.5%;
    color: white;
    font-family: Source Sans Pro, sans-serif ;
    font-size: 40px;
}

.projects-view {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    padding: 0 5%;
    flex: 1;
}

.project {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 1;
    margin: 0 0.5%;
    border: #7577cd solid 3px;
    background-color: #3033AD;
    border-radius: 3px;
    text-decoration: none;
}

.project:hover {
    box-shadow: 0 0 10px 5px #7577cd;
    transition-duration: 0.3;
}

.alter {
    background-image: url("../img/view-modern-office.jpg");
    background-size: cover;
    background-position: center;
}

.sound {
    background-image: url("../img/recording.jpg");
    background-size: cover;
    background-position: center;
}

.website {
    background-image: url("../img/dev-desk.jpg");
    background-size: cover;
    background-position: center;
}

.content-project {
    display: flex;
    flex: 1;
    background-color: rgba(41, 41, 78, 0.8);
}

.content-project>h1 {
    display: flex;
    box-sizing: border-box;
    color: white;
    font-size: 24px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    margin: 1%;
    flex: 1;
    min-height: 250px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.project>p {
    display: flex;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    padding: 2%;
    text-decoration: none;
    justify-content: center;
    flex-direction: column;
}

.project:hover .content-project {
    background-color: rgba(47, 46, 55, 0.4);
    transition-duration: 0.3s;
}

.fill {
    height: 20px;
    flex: 1;
}

.footer {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-direction: row;
    background-color: #080957;
    box-shadow: 0px -5px 5px #7577cd;
    padding: 1%;
    min-height: 120px;
}

.links {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    flex: 1;
}

.links>a {
    display: flex;
    padding: 1.5%;
    margin: 1px;
    font-size: 18px;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Century Gothic;
    font-weight: bold;
    color: white;
    width: max-content;
}

.links>a:hover {
    background-color: #7577cd;
    transition-duration: 0.3s;
}

.adress-area {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
}

.adress {
    display: flex;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1%;
    text-decoration: none;
    font-family: Century Gothic;
    font-weight: bold;
    font-size: 24px;
    color: white;
}

.adress:hover {
    background-color: #7577cd;
    transition-duration: 0.3s;
}

.help-area {
    display: flex;
    box-sizing: border-box;
    justify-content: end;
    flex: 1;
}

.help {
    display: flex;
    box-sizing: border-box;
    padding: 1%;
    width: 80px;
    height: 80px;
    align-self: center;
}

.help>img {
    display: flex;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1000px) {
    .logo {
        width: 250px;
    }

    .nav-list {
        flex: 8;
    }

    .adress-area {
        flex: 2;
    }
}

@media only screen and (max-width: 800px) {
    .presentation {
        flex-direction: column;
    }

    .presentation-info>p {
        font-size: 22px;
    }

    .projects-title {
        font-size: 32px;
    }

    .projects-view {
        flex-direction: column;
    }

    .blank {
        flex: none;
    }

    .nav-list {
        flex: 1;
    }
        
    .project {
        margin: 1% 0;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        flex-direction: column;
    }

    .sticky + .content {
        padding-top: 105px;
    }

    .logo-area {
        justify-content: center;
    }

    .adress {
        text-align: center;
    }

    .content-project>h1 {
        font-size: 18px;
    }

    .content-project>p {
        font-size: 18px;
    }

    .footer {
        padding: 2% 1%;
    }
}

@media only screen and (max-width: 400px) {
    .help {
        width: 60px;
        height: 60px;
    }

    .adress {
        font-size: 18px;
    }

    .links>a {
        font-size: 16px;
        padding: 4%;
        margin: 5px;
    }
}